{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 11"]
        },
        "useBuiltIns": "usage",
        "corejs": "3.7.0",
        "modules": "commonjs"
      }
    ]
  ]
}
