.article-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 10px;
}

.article-details__image {
  width: 95%;
}

@media screen and (min-width: 640px) {
  .article-details__image {
    width: 60%;
  }
}
